
.addHistroy{
    background-color: turquoise;
    padding: 4px 4px;
}
.container{
    display: flex;
    flex-direction: row;
    background-color: teal;
    margin: 3px 3px;
    padding: 2px 4px;
    box-shadow: 2px 2px 4px 0 black;
}
.delete{
    color:red;

    
}
.delete:hover{
    
    cursor: pointer;
    
}
.box1{
    align-items: stretch;
    text-align: left;
    flex:.8;
    font-size: 20px;
    padding: 1px 4px;
}
.box2{
    flex:0.2;
    font-size: 20px;
}